<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>List</h1>

    <ul>
      {{#each tasks}}
      <li>
        <p>{{ task }}</p>
      </li>
      {{/each}}
    </ul>

    <hr />

    <form action="/todos" method="POST">
      <h3>Add a new to-do</h3>
      <label for="newTask">New Task:</label>
      <input type="text" name="task" id="newTask" />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
